{% load static %}
    <header class="header header-6">
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="{% url 'shop' %}" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-center">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="{% static 'images\logo.jpg' %}" width="82" height="20">
                    </a>
                </div>

                <div class="header-right">
                    <a href="{% url 'wishlist' %}" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-count">{{ wishlist_count }}</span>
                        <span class="wishlist-txt">My Wishlist</span>
                    </a>

                    <div class="dropdown cart-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">{{cart_count}}</span>
                            <span class="cart-txt">$ {{total_cost}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-cart-products">
                                {% for item in items_in_cart %}
                                <div class="product">
                                    <div class="product-cart-details">
                                        <h4 class="product-title">
                                            <a href="product.html"> {{item.name}} </a>
                                        </h4>

                                        <span class="cart-product-info">
                                            <span class="cart-product-qty"></span>
                                            ${{item.price}}
                                        </span>
                                    </div>

                                    <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="{{item.image.url}}" alt="product">
                                        </a>
                                    </figure>
                                    <a href="{% url 'remove_from_cart' item.id %}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                </div>
                                {% endfor %}
                            </div>
                                <a href="{% url 'cart' %}" class="btn btn-primary">View Cart</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="{%url 'home' %}" class="sf-with-ul">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}" class="sf-with-ul">Shop</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}" class="sf-with-ul">Product</a>

                                <div class="megamenu megamenu-sm">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <div class="menu-col">
                                                <div class="menu-title">Product Details</div>
                                                <ul>
                                                    {% for category in categories %}
                                                    <li><a href="{% url 'section' category.id %}"> {{category.name}} </a></li>
                                                    {% endfor %}
                                                    <li><a href="{% url 'new_product' %}">Add Product</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                </div>

                <div class="header-right">
                    <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                </div>
            </div>
        </div>
        <div class="header-right">
            <ul class="top-menu">
                <li>
                    <a href="#">Links</a>
                    <ul>
                        <li><a href="tel:#"><i class="icon-phone"></i>Call: +9137057865</a></li>
                        <li><a href="{% url 'wishlist' %}"><i class="icon-heart-o"></i>Wishlist <span>({{wishlist_count}})</span></a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}"><i class="icon-user"></i>Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"><i class="icon-user"></i>Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul><!-- End .top-menu -->
        </div><!-- End .header-right -->
        <hr>
    </header>

