<!-- edit_billing_details.html -->
{% extends 'main.html' %}

{% block content %}
<form method="post" action="{% url 'edit_shipping_address' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <label for="town_or_city">town or city *</label>
            <input type="text" class="form-control" name="town_or_city" value="{{ billing_details.town_or_city }}" required>
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6">
            <label for="street_address">street address *</label>
            <input type="text" class="form-control" name="street_address" value="{{ billing_details.street_address }}" required>
        </div><!-- End .col-sm-6 -->
    </div><!-- End .row -->

    <label for="state">state *</label>
    <input type="text" class="form-control" name="state" value="{{ billing_details.state }}" required>

    <label for="postal_code">postal code *</label>
    <input type="text" class="form-control" name="postal_code" value="{{ billing_details.postal_code }}" required>

    <label for="country">country *</label>
    <input type="text" class="form-control" name="country" value="{{ billing_details.country }}">


    <button type="submit" class="btn btn-outline-primary-2">
        <span>SAVE CHANGES</span>
        <i class="icon-long-arrow-right"></i>
    </button>
</form>
{% endblock %}
